.Projects{
    width: 75vw;
    height: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 10vh
}


.Projects-h1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
.Projects-h1 h1{
    margin: 0;
    color: white;
    font-size: 3vw;
    font-weight: 500;
}
@media screen and (max-width: 768px){
    .Projects-h1 h1{
        font-size: 6vw;
    }
    .Projects-line{
        width: 50vw;
    }
}
.Projects-line{
    height: 2px;
    width: 20vw;
    background-color: white;
    border-radius: 1px;
}
.list-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}